* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: clamp(12px, 1vw, 15px);
}

body {
  background-color: black;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

#controlpanel {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(16, 16, 16);
}

.button {
  width: auto;
  height: 100%;
  padding: 0 clamp(5px, 2vw, 20px);
  color: white;
  background-color: black;
  border: 3px solid rgb(42, 14, 224);
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(42, 14, 224);
}

.container {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid rgb(42, 14, 224);
  border-radius: 10px;
}

.container h2 {
  color: white;
}

input {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: 2px solid rgb(42, 14, 224);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}
